
@{
    ViewData["Title"] = "Home Page";
}

@model endrde_guestbook.Models.GuestbookEntry


<div class="text-center">
    <h1 class="display-4">Guestbook</h1>
    <div class="guestbook-container">
        @foreach (var item in Guestbook.ListOfGuestbookEntries)
        {
            <div class="guestbook-entry">
                <h3>Name:</h3><p>@item.GuestName</p>
                <h3>Message:</h3><p>@item.GuestMessage</p>
                <h3>Date:</h3><p>@item.EntryDateTime.ToString()</p>
            </div>
        }

    </div>
    <div class="guestbook-form">
        <form asp-action="AddGuestbookEntry" asp-controller="Guestbook">
            <label asp-for="GuestName"></label>
            <input asp-for="GuestName" placeholder="Your message goes here"/>
            <label asp-for="GuestMessage"></label>
            <input asp-for="GuestMessage" placeholder="Your message goes here"/>
            <input type="submit" />
        </form>

    </div>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
